.cartheader{
    background-color: tomato;
    width:90%;
    box-sizing: border-box;
    margin:auto;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr;
    color:white;
    font:300 20px;
    
}
.cartheader>p{
    margin:10px;
}
.cartheader>p:last-child{
    text-align:end
}
.cartcontaier{
    
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr;
}
.cartinput{
    margin-top: 35px;
    display:flex;
    align-items:center;
    height:1px;
}
.cartinput>button{
    border:none;
    background-color: grey;
    cursor: pointer;
    color:white;

}
.cartinput>button:hover{
    background-color:thistle;
    
}
.cartinput>input{
    border:none;
    padding:5px;
    width:30px;
    text-align:center;
    outline:none;
    font-size: 18px;
    
}
.cartsubtotal{
    display:flex;
    padding:10px;
    box-sizing: border-box;
    font-size: 22px;
    justify-content:flex-end;
    font-weight: bold;
}
.cartgrossprofit{
    display:grid;
    grid-template-columns: 2fr 1fr ;
}
.cartgrossprofitbox{
    border-top: 5px solid tomato;
    box-sizing: border-box;
    margin-right: 65px;
    display: flex;
    font-size:20px;
    font-weight: bold;
    justify-content: space-between;
    padding-top:20px;

}
.checkoutbtn{
    display: flex;
    justify-content:flex-end;
    margin-right: 65px;
    padding-top: 20px;
}
.checkoutbtn>button{
    background-color:tomato;
    color: white;
    font-size: 18px;
    width:50%;
    padding:10px;
    border:none;
    border-radius: 20px;
}

.noitems{
    border: 1px solid red;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}