.loginsignupcontainer{
    
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    top:0;left:0;
}
.loginsignupbox{
    
    width:75vh;
   
    box-sizing:border-box;
    
}
.loginsignuptoggle{
    display: flex;
    height:3vmax;
}
.loginsignuptoggle>p{
    font:300 1.5vmax;
    cursor: pointer;
    display:grid;
    grid-gap: 50px;
    place-items: center;
    width:100%;
}
.loginsignuptoggle>p:hover{
    color:tomato;
    font-size: 20px;
}
/* .loginsignupbox>div>button{
    margin:auto;
    background-color:tomato;
    height:30px;
    width:50%;
    
    border:none;
    

} */

.loginform,.signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding:2vmax;
    justify-content:space-evenly;
    height:70%;
}
.loginform>div,.signupform>div{
    
    width:100%;
    align-items:center;
    
}
.loginform>div>input,.signupform>div>input{
    padding:2vmax;
    width:100%;
    box-sizing: border-box;


}
.loginform > a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 20px "Gill Sans";
  }
  .loginForm > a:hover {
    color: black;
  }
  .loginbtn,
.signupbtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  font-size:16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.loginbtn:hover,
.signupbtn:hover {
  background-color: rgb(179, 66, 46);
}
