.searchbox{
    width:100vh;
    height:100vh;
    max-width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    
}
.searchbox>input[type="text"]{
    box-shadow: 0 0 5px rgba(0,0,0,0.274);
    background-color:white;
    border:none;
    padding:1vmax 2vmax;
    width:200%;
    height:16%;
    box-sizing: border-box;
    outline:none;

}
.searchbox>input[type="submit"]{
    height:16%;
    border-radius: 2%;
    background-color:tomato;
    border:none;
    padding:1vmax;
    width:100%;
}
.searchbox>input[type="submit"]:hover{
    background-color:black;
    color:white;
}